$a1: #555;
$c3: rgba(#000,1);
$aUZ3cB1HRg: #444444;
$e6gWMSXchq: #666;
$HKc7vjZs2U: #777777;
$X1xGL8ekF4: #888;
$oCRHHnJrNU: #000;
$YBCr3QzMWu: #1c1c1c;
$zfs5pC4oBr: rgba(#1c1c1c,0.8);
$XHYY7vLLaX: rgba(0,0,0,.5);
$b2: rgba(darken(rgba(0,0,0,.5)),.5);
