.gg {
  color: $a1;
  background-color: $c3;
  border-color: $zfs5pC4oBr;
  &__g {
    color: $oCRHHnJrNU;
    background-color: $XHYY7vLLaX;
    border-color: $XHYY7vLLaX;
  }
}

span {
  color: $aUZ3cB1HRg;
  background-color: $b2;
}

b {
  color: $oCRHHnJrNU;
}

h1 {
  b {
    color: $oCRHHnJrNU;
  }
}