.a {
  color: $e6gWMSXchq;
  .b {
    color: $HKc7vjZs2U;
    .c {
      color: $X1xGL8ekF4;
      .d {
        color: $oCRHHnJrNU;
        .e {
          color: $YBCr3QzMWu;
        }
      }
    }
  }
}

.zz {
  color: $oCRHHnJrNU;
}